@import '_variables';

*{
   font-family: Montserrat, sans-serif;
}
.main-header{
   display: flex;
   justify-content: center;
   align-items: center;
}
.logo{
   width: 20%;
}
.logo img{
   height: 60px;
   width: 100%;
}
.header-nav{
   width: 60%;
}
.list-nav{
   display: flex;
   justify-content: space-around;
}
.header-tuvan{
   width: 20%;
   justify-content: center;
   display: flex;
}